/* Sticky footer styles
-------------------------------------------------- */

html,

/* modal styles */
.modal-danger .modal-header-new {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding:9px 15px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-warning .modal-header-new {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  padding:9px 15px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.modal-dialog{
  -webkit-transform:translate(0,-25%);
  -ms-transform:translate(0,-25%);
  transform:translate(0,-25%);
  -webkit-transition:-webkit-transform .3s ease-out;
  -moz-transition:-moz-transform .3s ease-out;
  -o-transition:-o-transform .3s ease-out;
  transition:transform .3s ease-out
  }

.modal.in .modal-dialog{
  -webkit-transform:translate(0,0);
  -ms-transform:translate(0,0);
  transform:translate(0,0)
}

.modal-dialog{
  position:relative;
  z-index:1050;width:auto;
  margin:10px
}

.modal-content{
  position:relative;
  background-color:#fff;
  border:1px solid #999;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:6px;outline:0;
  -webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
  box-shadow:0 3px 9px rgba(0,0,0,0.5);
  background-clip:padding-box
}

.modal-backdrop{
  position:fixed;
  top:0;right:0;
  bottom:0;left:0;
  z-index:1030;
  background-color:#000
}

.modal-backdrop.fade{
  opacity:0;
  filter:alpha(opacity=0)
}

.modal-backdrop.in{
  opacity:.5;
  filter:alpha(opacity=50)
}

.modal-header{
  min-height:16.428571429px;
  padding:15px;
  border-bottom:1px solid #e5e5e5
}

.modal-header .close{
  margin-top:-2px
}

.modal-title{
  margin:0;
  line-height:1.428571429
}

.modal-body{
  position:relative;
  padding:20px
}

.modal-footer{
  padding:19px 20px 20px;
  margin-top:15px;
  text-align:right;
  border-top:1px solid #e5e5e5
}

.modal-footer:before,.modal-footer:after{
  display:table;
  content:" "
}

.modal-footer:after{
  clear:both}

.modal-footer:before,.modal-footer:after{
  display:table;
  content:" "
}

.modal-footer:after{
  clear:both
}

.modal-footer .btn+.btn{
  margin-bottom:0;
  margin-left:5px
}

.modal-footer .btn-group .btn+.btn{
  margin-left:-1px
}

.modal-footer .btn-block+.btn-block{
  margin-left:0
}


@media screen and (min-width:768px){

  .modal-dialog{
    width:600px;
    margin:30px auto
  }

  .modal-content{
    -webkit-box-shadow:0 5px 15px rgba(0,0,0,0.5);
    box-shadow:0 5px 15px rgba(0,0,0,0.5)}}




























